<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (tap)="web.navigate()">
        <img src="assets/imgs/forlidar_noalpha.png" width="45px" height="45px" />
      </button>
    </ion-buttons>

    <ion-title text-center>
      Frequências
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (tap)="showHelp()">
        <ion-icon name="more"></ion-icon>        
      </button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content padding-horizontal>
  <ion-grid style="height:20%" text-center no-padding no-margin>
    <!-- DAP -->
    <ion-row>
      <ion-col>
          <ion-label class="greekLabel" [innerHTML]="greekVars.kappa | safeHtml"></ion-label>
          <ion-range color="green" min="0" [max]="intPars.maxD.K" [(ngModel)]="intPars.dwK" (ngModelChange)="redistribute()">
              <ion-badge range-left color="green">{{models.dwK}}</ion-badge>
          </ion-range>
      </ion-col>

      <ion-col>
          <ion-label class="greekLabel" [innerHTML]="greekVars.lambda | safeHtml"></ion-label>
          <ion-range color="green" min="0" [max]="intPars.maxD.L" [(ngModel)]="intPars.dwL"  (ngModelChange)="redistribute()">
              <ion-badge range-right color="green">{{models.dwL}}</ion-badge>
          </ion-range>
      </ion-col>

      <!-- Ht -->
      <ion-col *ngIf="rotated">
        <ion-label class="greekLabel" [innerHTML]="greekVars.kappa | safeHtml"></ion-label>
        <ion-range color="orange" min="0" [max]="intPars.maxH.K" [(ngModel)]="intPars.hwK" (ngModelChange)="redistribute()">
          <ion-badge range-left color="orange">{{models.hwK}}</ion-badge>
        </ion-range>
    </ion-col>

    <ion-col *ngIf="rotated">
      <ion-label class="greekLabel" [innerHTML]="greekVars.lambda | safeHtml"></ion-label>
        <ion-range color="orange" min="0" [max]="intPars.maxH.L" [(ngModel)]="intPars.hwL"  (ngModelChange)="redistribute()">
            <ion-badge range-right color="orange">{{models.hwL}}</ion-badge>
        </ion-range>
    </ion-col>
    </ion-row>
    </ion-grid>
    
    <div *ngIf="rotated" style="height:60px"></div>

    <div id="myChart" style="width:100%;height:63%"></div>

    <!-- Ht -->
    <ion-grid style="height:10%;" text-center no-padding no-margin *ngIf="!rotated">
    <ion-row>
        <ion-col>
            <ion-range color="orange" min="0" [max]="intPars.maxH.K" [(ngModel)]="intPars.hwK" (ngModelChange)="redistribute()">
              <ion-badge range-left color="orange">{{models.hwK}}</ion-badge>
            </ion-range>
        </ion-col>
  
        <ion-col>
            <ion-range color="orange" min="0" [max]="intPars.maxH.L" [(ngModel)]="intPars.hwL"  (ngModelChange)="redistribute()">
                <ion-badge range-right color="orange">{{models.hwL}}</ion-badge>
            </ion-range>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
