<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button icon-only  (tap)="web.navigate()">
      <img src="assets/imgs/forlidar_noalpha.png" width="45px" height="45px" />
    </button>
    </ion-buttons>

    <ion-title text-center>Afilamento</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (tap)="showHelp()">
          <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card style="margin-bottom:15px" *ngFor="let m of models.modelsList; let i = index" [class]="classCard(i)">
      <ion-card-header  (tap)="tapCard(i)">
        <b>{{m.author}} ({{m.year}})</b>
      </ion-card-header>
      <ion-card-content style="text-align:center;font-size:12px" [innerHTML]="m.model | safeHtml" (tap)="tapCard(i)">
      </ion-card-content>

      <div [hidden]="i !== models.active">
        <!--div style="border-top:1px solid black;width:80%;margin:10px 0 0 10%"></div-->

        <ion-item *ngFor="let cf of m.coef">
          <ion-label [innerHTML]="cf.beta | safeHtml"></ion-label>
          <ion-input type="number" step="0.0000001" [(ngModel)]="cf.val"></ion-input>
        </ion-item>
      </div>

    </ion-card>
  </ion-list>

</ion-content>
